alembic
anyio
apt-clone
apturl
asgiref
Authlib
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-mgmt-rdbms
azure-mgmt-resource
azure-mgmt-subscription
Babel
bcrypt
beautifulsoup4
bidict
blinker
boto3
botocore
Brlapi
Brotli
cachetools
certifi
cffi
chardet
click
colorama
command-not-found
configobj
crispy-bootstrap5
cryptography
cupshelpers
dbus-python
defer
distlib
distro
dj-database-url
Django
django-crispy-forms
django-email
django-environ
dnspython
EasyProcess
email-validator
entrypoint2
eventlet
exceptiongroup
eyeD3
filelock
Flask
flask-babel
Flask-Compress
Flask-Gravatar
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Paranoid
Flask-Principal
Flask-Security-Too
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
grpcio
gyp
h11
httpagentparser
httplib2
idna
ifaddr
IMDbPY
importlib-metadata
isodate
itsdangerous
jeepney
Jinja2
jmespath
keyring
launchpadlib
lazr.restfulclient
lazr.uri
ldap3
louis
macaroonbakery
Mako
MarkupSafe
meson
more-itertools
MouseInfo
msal
msal-extensions
msrest
mss
mysql-connector-python
nemo-emblems
netaddr
netifaces
oauthlib
onboard
packaging
PAM
paramiko
passlib
pexpect
pgadmin4 @ https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v7.5/pip/pgadmin4-7.5-py3-none-any.whl#sha256=159a932edf33f2dd50ae46476a7a0a198b776925e36e543e747a07754abbccb2
Pillow
platformdirs
portalocker
powerline-status
protobuf
psutil
psycopg
psycopg-binary
psycopg2
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
PyAutoGUI
pycairo
pycparser
pycups
pycurl
pyelftools
PyGetWindow
PyGObject
PyICU
pyinotify
PyJWT
pymacaroons
PyMsgBox
PyNaCl
pyotp
pyparsing
pyparted
pyperclip
pypng
PyRect
pyRFC3339
pyscreenshot
PyScreeze
python-apt
python-dateutil
python-debian
python-engineio
python-gnupg
python-magic
python-socketio
python-xlib
python3-xlib
pytweening
pytz
pyxdg
PyYAML
qrcode
reportlab
requests
requests-file
requests-oauthlib
rsa
s3transfer
SecretStorage
setproctitle
simple-websocket
six
sniffio
soupsieve
speaklater3
SQLAlchemy
sqlparse
sshtunnel
systemd-python
tinycss2
tldextract
typing_extensions
ua-parser
ubuntu-drivers-common
ufw
Unidecode
uritemplate
urllib3
user-agents
vboxapi
virtualenv
wadllib
webencodings
Werkzeug
wsproto
WTForms
xdg
xkit
xlrd
youtube-dl
zipp
